header {
    display: flex;
    justify-content: space-between;
    background-color: #3B2C96;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.logo {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F42B2B;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #F42B2B;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button::before {
    content: none;
 }

 #button:hover {
    transform: scale(1.08);
 }
 
#button:active {
    transform: scale(1.08) translateY(4px);
}

.background-photo {
    object-fit: fill;
    position: absolute;
    height: 797px;
    width: 100%;
    border-bottom: 10px solid #000;
}

.background-blurry {
    object-fit: fill;
    position: absolute;
    width: 67%;
    height: 797px;
    border-right: 5px solid #000;
}

.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 627px;
    height: 282px;
    top: 91px;
    left: 116px;
}

.quadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3B2C96;
    width: 627px;
    height: 184px;
    filter: drop-shadow(10px 10px 0px #000000);
}

h1 {
    color: #F42B2B;
    font-size: 40px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-bottom: 28px;
    text-shadow: 4px 4px 0px #000000;
    -webkit-text-stroke: 1px #000;
}

h2 {
    color: #FFF;
    font-size: 30px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000000;
}

.botoes {
    display: flex;
    width: 627px;
    justify-content: space-evenly;
}

.download, .contatos {
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #467CCE;
    width: 170px;
    padding: 17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms linear;
    border: 0;
}
