.bar-html, .bar-css, .bar-js, .bar-nodejs, .bar-react, .bar-restapi, .bar-tdd, .bar-ux {
    width: 320px;
    height: 40px;
    border: 5px solid #000;
    box-sizing: border-box;
}

.bar-html {
    background: linear-gradient(to right, #D83E1D 70%, #FFF 0px);
}

.bar-css {
    background: linear-gradient(to right, #167FBA 60%, #FFF 0px);
}

.bar-js {
    background: linear-gradient(to right, #EECB12 80%, #FFF 0px);
}

.bar-react {
    background: linear-gradient(to right, #1653AF 20%, #FFF 0px);
}

.bar-nodejs {
    background: linear-gradient(to right, #24850C 10%, #FFF 0px);
}

.bar-tdd {
    background: linear-gradient(to right, #0E9D9D 15%, #FFF 0px);
}

.bar-restapi {
    background: linear-gradient(to right, #4EAFCD 18%, #FFF 0px);
}

.bar-ux {
    background: linear-gradient(to right, #279A40 10%, #FFF 0px);
}