.main-button {
    display: inline-block;
    background-color: #F42B2B;
    padding: 20px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}

.main-button::before {
    content: none;
 }

 .main-button:hover {
    transform: scale(1.08);
 }
 
.main-button:active {
    transform: scale(1.08) translateY(4px);
}

.main-button.-second {
    background-color: #467CCE;
}