.main-banner {
    display: flex;
    box-sizing: border-box;
    background: url(../../assets/img/bailey-zindel-pixel.jpg) no-repeat center bottom / cover fixed;
    height: 88vh;
    border-bottom: 10px solid #000;
    align-items: center;
    justify-content: center;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}