.main-title {
    color: var(--color-third);
    font-size: 40px;
    font-family: var(--font-press-2p);
    font-weight: 400;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}