.main-section {
    border-bottom: 10px solid var(--color-second);
    padding-top: 50px;
    padding-bottom: 60px;
}

.main-section .main-title {
    margin-bottom: 60px;
    text-align: center;
}

.main-section.-bgBlack {
    background-color: #000;
    padding-bottom: 100px;
}

.main-section.-bgBlack .main-title {
    margin-bottom: 50px;
}

.main-section.-mgTitle40 .main-title {
    margin-bottom: 40px;
}

.main-section.-mgTitle40 {
    border-color: #000;
    padding-bottom: 70px;
}