.main-header {
    display: flex;
    justify-content: flex-end;
    background-color: #06004def;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.main-header .navigation {
    display: inherit;
}