.main-button {
    display: inline-block;
    background-color: var(--color-third);
    padding: 20px 20px;
    box-shadow: 5px 5px 0px #000;
    transition: transform 100ms linear;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}

.main-button::before {
    content: none;
 }

.main-button:hover {
    transform: scale(1.08);
}
 
.main-button:active {
    transform: scale(1.08) translateY(4px);
}

.main-button.-form {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.main-button.-form:hover {
    transform: scale(1.02);
}

.main-button.-form:active {
    transform: scale(1.02) translateY(4px);
}