.main-title {
    color: #F42B2B;
    font-size: 40px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}