.progress-bar {
    background-color: #FFF;
    border: 5px solid #000;
    box-sizing: border-box;
    height: 40px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}

.progress-bar.-html::-moz-progress-bar {
    background-color: #D83E1D;
}

.progress-bar.-html::-webkit-progress-value {
    background-color: #D83E1D;
}

.progress-bar.-css::-moz-progress-bar  {
    background-color: #167FBA;
}

.progress-bar.-css::-webkit-progress-value {
    background-color: #167FBA;
}

.progress-bar.-js::-moz-progress-bar  {
    background-color: #EECB12;
}

.progress-bar.-js::-webkit-progress-value {
    background-color: #EECB12;
}

.progress-bar.-react::-moz-progress-bar  {
    background-color: #1653AF;
}

.progress-bar.-react::-webkit-progress-value {
    background-color: #1653AF;
}

.progress-bar.-nodejs::-moz-progress-bar  {
    background-color: #24850C;
}

.progress-bar.-nodejs::-webkit-progress-value {
    background-color: #24850C;
}

.progress-bar.-tdd::-moz-progress-bar  {
    background-color: #0E9D9D;
}

.progress-bar.-tdd::-webkit-progress-value {
    background-color: #0E9D9D;
}

.progress-bar.-restapi::-moz-progress-bar  {
    background-color: #4EAFCD;
}

.progress-bar.-restapi::-webkit-progress-value {
    background-color: #4EAFCD;
}

.progress-bar.-ux::-moz-progress-bar  {
    background-color: #279A40;
}

.progress-bar.-ux::-webkit-progress-value {
    background-color: #279A40;
}