.skill-tec {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    font-family: var(--font-press-2p);
    font-size: 1.5625em;
    color: #FFF;
}

.skill-tec .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
}

.skill-tec .icon {
    width: 90px;
}